* {
	margin: 0;
	padding: 0;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell img {
	position: relative;
	width: 48px;
	height: 48px;
}

.cell {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.black {
	background-color: deepskyblue;
}

.white {
	background-color: antiquewhite;
}

.selected {
	background-color: red;
}
.avaliable {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: rgb(3, 70, 3);
}